
.game-header {
  text-align: center;
  color: #3498db;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.source-chars-container,
.target-words-container,
.matched-pairs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.source-char,
.target-word,
.matched-pair {
  padding: 15px;
  border: 2px solid #3498db;
  border-radius: 8px;
  background-color: #ecf0f1;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 35px;
}

.source-char:hover,
.target-word:hover {
  background-color: #3498db;
  color: #fff;
}

.matched-pair {
  max-width: 100%;
  overflow: auto;
  background-color: #2ecc71;
  color: #fff;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .source-char,
  .target-word,
  .matched-pair {
    width: 80px;
    font-size: 14px;
  }
}

.target-word.matched {
  background-color: #2ecc71;
  color: #fff;
}

/* Additional Styling for Improved Visuals */
.target-word.matched {
  opacity: 0.8;
}

@media only screen and (max-width: 400px) {
  .source-char,
  .target-word,
  .matched-pair {
    width: 60px;
    font-size: 12px;
    padding: 10px;
  }
}

.target-word.matched {
  background-color: #2ecc71;
  color: #fff;
}

/* New style for highlighting matched words */
.matched-word {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.stacks-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.stack {
  max-width: 150px;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 8px;
  background-color: #ecf0f1;
  text-align: center;
}

.stack h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #3498db;
}

.circle-count {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
}
