/* Game Header */
.game-header {
  text-align: center;
  color: #3498db;
}

/* Game Container */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Source Characters Container */
.source-chars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Target Words Container */
.target-words-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Target Word */
.target-word {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Target Characters Container */
.target-chars-container {
  display: flex;
  flex-wrap: wrap;
}

/* Source Character and Target Character */

.target-char {
  /* padding: 15px; */
  margin-right: 10px;
  border: 2px solid #3498db;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  background-color: #ecf0f1;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.matched-char {
  padding: 15px;
  /* border: 2px solid #3498db; */
  border-radius: 8px;
  background-color: #ecf0f1;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 50px;
}
.source-char {
  padding: 15px;
  border: 2px solid #3498db;
  border-radius: 8px;
  background-color: #ecf0f1;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 30px;
}
.source-char-disable {
  border: 2px solid #020202;
  background-color: #cccccc;
  padding: 15px;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s ease;
}

/* Hover Effect for Source Character and Target Character */
.source-char:hover,
.target-char:hover {
  background-color: #3498db;
  color: #fff;
}

/* Empty Box */
.empty-box {
  height: 85%;
  margin: 5px;
  border: 2px dashed #3498db;
  border-radius: 8px;
}

.filled-box {
  width: 40px; /* Fixed width */
  height: 40px; /* Fixed height */
  margin: 5px; /* Adjust margin as needed */
  border-radius: 8px;
  text-align: center;
}

/* Button Container */
.button-container {
  margin-top: 20px;
}
