.hangman-head,
.hangman-body,
.hangman-arm-left,
.hangman-arm-right,
.hangman-leg-left,
.hangman-leg-right {
  display: none;
}

.hangman-head.show,
.hangman-body.show,
.hangman-arm-left.show,
.hangman-arm-right.show,
.hangman-leg-left.show,
.hangman-leg-right.show {
  display: block;
}



.hangman-head,
.hangman-body,
.hangman-arm-left,
.hangman-arm-right,
.hangman-leg-left,
.hangman-leg-right {
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;
  margin-bottom: 10px;
}


.splash-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-screen h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.splash-screen button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.splash-screen button:hover {
  background-color: #0056b3;
}