/* Story.css */

.story-item {
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 3px solid black;
  width: 80%;
}

.story-box-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  position: relative;
  align-items: center;
  -webkit-box-align: center;
}

.story-line {
  font-size: 38px;
  text-align: 'center';
}

@media screen and (max-width: 580px) {
  .story-line {
    font-size: 16px;
    text-align: 'center';
  }


  .story-box-container {
    display: flex;
    flex-direction: column;

  }

  .story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 97vh;
  }

  .story-item {
    align-items: center;
    gap: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 3px solid #d9d2d2;
    width: 120%;
    padding: 20px;
    border: 4px solid black;
  }

  .story-image {
    height: 30vh !important;
    width: 120% !important;
    border: 5px solid black;
    border-radius: 25px;
    position: relative;
    right: 10px;
  }

  .voice-recorder {
    bottom: -150px;
    left: -80px;
  }
}


@media screen and (max-width: 700px) {
  .story-line {
    font-size: 28px;
    text-align: 'center';
  }


  .story-box-container {
    display: flex;
    flex-direction: column;
  }

  .story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 97vh;
  }

  .story-image {
    height: 30vh !important;
    width: 100% !important;
    border: 5px solid black;
    border-radius: 25px;
    position: relative;
    right: 10px;
  }

  .voice-recorder {
    bottom: -140px;
    left: -80px;
  }
}




.story {
  font-size: 16px;
}

.highlighted-story {
  font-size: 18px;
  background-color: #ffd700;
  /* Yellow background for highlighted story */
}

.next-btn-visible {
  background-color: greenyellow;
  padding: 5px;

}


.next-btn-hidden {
  display: none;
}

/* Story.css */
.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  justify-content: center;
  height: 97vh;
  width: 80%;
}

.story-item {
  align-items: center;
  gap: 40px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  /* background: linear-gradient(#5ef899, #eecf69); */
  border: 3px solid #d9d2d2;
  padding: 20px;
}

.story-image {
  height: 50vh;
  width: 100%;
  border: 5px solid black;
  border-radius: 25px;
  position: relative;
  right: 10px;
}

.story {
  font-size: 16px;
}

.highlighted-story {
  font-size: 18px;
  background-color: #ffd700;
  /* Yellow background for highlighted story */
}

.next-btn-visible {
  background-color: greenyellow;
  padding: 5px;
}

.next-btn-hidden {
  display: none;
}

/* Add this CSS in your component or a separate CSS file */
.button-container {
  text-align: center;
  margin-top: 20px;
}

.custom-button {
  padding: 10px 20px;
  background-color: #007BFF;
  /* Button background color */
  color: #fff;
  /* Button text color */
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.custom-button:hover {
  background-color: #0056b3;
  /* Hover background color */
}

.css-1jc7f17 {
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 100vh;
  background: gray.50;
  background-image: url('../../assests/Images/hackthon-images/login-bg.jpg');
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 97vh;
  background: gray.50;
  background-image: url('../../assests/Images/hackthon-images/login-bg.jpg');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}