/* Story.css */
.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.story-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 3px solid black;
  width: 80%;
}

.story {
  font-size: 16px;
}

.highlighted-story {
  font-size: 18px;
  background-color: #ffd700;
  /* Yellow background for highlighted story */
}

.next-btn-visible {
  background-color: greenyellow;
  padding: 5px;

}


.next-btn-hidden {
  display: none;
}

/* Story.css */
.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height:100vh;
}
.story-item {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 3px solid #d9d2d2;
    width: 80%;
    padding: 20px;
}
.story-image {
  height: 50vh;
  width: 50%;
  border: 5px solid black;
  border-radius: 25px;
  position: relative;
  right : 10px;
}
.story {
  font-size: 16px;
}
.highlighted-story {
  font-size: 18px;
  background-color: #ffd700;
  /* Yellow background for highlighted story */
}
.next-btn-visible {
  background-color: greenyellow;
  padding: 5px;
}
.next-btn-hidden {
  display: none;
}

/* Add this CSS in your component or a separate CSS file */
.button-container {
  text-align: center;
  margin-top: 20px;
}

.custom-button {
  padding: 10px 20px;
  background-color: #007BFF; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.custom-button:hover {
  background-color: #0056b3; /* Hover background color */
}
.css-1jc7f17 {	
  -webkit-justify-content: center;	
  justify-content: center;	
  min-height: 100vh;	
  background: gray.50;	
  background-image: url('../../assests/Images/hackthon-images/login-bg.jpg');	
  background-color: #cccccc;	
  height: 500px;	
  background-position: center;	
  background-repeat: no-repeat;	
  background-size: cover;	
}	
.bg{	
  -webkit-justify-content: center;	
  justify-content: center;	
  min-height: 97vh;	
  background: gray.50;	
  background-image: url('../../assests/Images/hackthon-images/images.jpeg');	
  background-color: #cccccc;	
  height: 500px;	
  background-position: center;	
  background-repeat: no-repeat;	
  background-size: cover;	
}
